
.skills-subtitle {
	width: 100% !important;
	
	
}

.skills-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 120px;
}
.container-skills{
max-width: 780px;
margin: 0 auto; 
padding-bottom: 30px;
}
.title-skills{
	font-family: "Press Start 2P", system-ui;
	font-size:1em;
}
.skill-box{
    justify-content: space-evenly;
}

.skill-box p{
	font-family: "Press Start 2P", system-ui;
}

.skills-title{	font-family: "Press Start 2P", system-ui !important;
text-align: center;}
.skill-container{    padding: 16px;    background: grey;
    border: 20px solid #ddd3d3;
	border-radius: 10px;    align-items: center;}

	@media (max-width:768px){
		.skills-title{
			font-size: 36px;
			}
	}